PORT=5000
DATABASE_URL=postgresql://neondb_owner:npg_k5t4YuZVDCyQ@ep-long-sunset-axw29eop-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=nirvaan_s24a28nu1dha10m19mu02s2wa4ra28
CORS_ORIGIN=http://localhost:5173